body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  background-color: #aaaaaa;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.painel {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.painel h2 {
    background-color: dimgray;
    color: whitesmoke;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.painel form {
    margin-bottom: 20px;
}

.painel label {
    display: block;
    margin-bottom: 5px;
}

.painel input[type="text"],
.painel input[type="email"],
.painel input[type="password"] {
    width: 40vh;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}

.painel button {
    width: 100%;
    padding: 10px;
    background-color: dimgray;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.painel button:hover {
    background-color: #0056b3;
}

#nome{
    display: flex;
    justify-content: space-around;
    text-align: left;
}

#nome input{
    width: 13em;
}

.logar {
    padding: 4px;
    font-size: 0.5cm;
    border-radius: 6px;
}

.exit-btn {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 4px;
    font-size: 0.5cm;
    border-radius: 8px;
}

.exit-btn:hover {
    background-color: #c82333;
}