* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier Gothic', sans-serif;
}

body {
    background-color: #e0e0e0;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration:none;
    color: #000000;
}
.menu-nav {
    top: 1px;
    width: 100%;
    height: 80px;
    background-color: #373d4e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: -1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}

.inv{
    height: 7rem;
}
/* logo */
.menu-nav .perfil {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

.menu-nav .perfil h3 {
    text-align: end;
    font-weight: 500;
    line-height: 1rem;
    color: #555;
}

.menu-nav .perfil h3 samp {
    font-size: .75rem;
    color: #777;
}

.menu-nav .perfil .imgcx {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.menu-nav .perfil .imgcx img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.menu-nav .menu {
    position: absolute;
    top: calc(100% + 10px);
    left: -10rem;
    width: 15rem;
    min-height: 100px;
    background-color: white;
    user-select: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.menu-nav .menu.ativo {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    width: 17rem;
    height: 22rem;
    left: 10px;
}

.menu-nav .menu ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    list-style: none;
}

.menu-nav .menu ul li {
    width: 90%;
    background-color: #f1f1f1;
    padding: 15px 20px;
    transition: .30s;
    margin-top: 1rem;
    border-radius: 15px;
}

.menu-nav .menu ul li:hover {
    transition: 0.5s;
    border: black solid 0.1px;
    background: #adc0ff;
}

.menu-nav .menu ul li a {
    text-decoration: none;
    color: #666;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-nav .menu ul li a ion-icon {
    font-size: 1.25rem;
    color: #000000;
}

.menuextra {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.menu-nav .menu .menuextra .menuextrali {
    width: 12rem;
    background-color: #f1f1f1;
    padding: 15px 20px;
    transition: .30s;
    margin-top: 1rem;
    border-radius: 15px;
    font-size: 0.8rem;
    margin-right: 0.5rem;
}

.menu-nav .menu .menuextra .menuextrali:hover {
    background-color: #fd8c8c;
    transition: 0.7s;
}

.menu-nav .menu .menuextra .menuextrali2 {
    width: 12rem;
    background-color: #f1f1f1;
    padding: 15px 20px;
    transition: .30s;
    margin-top: 1rem;
    border-radius: 15px;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.menu-nav .menu .menuextra .menuextrali2:hover {
    background-color: #8cbdfd;
    transition: 0.7s;
}


.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13%;
    color: #090909;
    width: 3.5em;
    height: 3.5em;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

.menuButton:hover {
    border: 1px solid white;
}

.menuButton:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
}

input[type="checkbox"] {
    /* -webkit-appearance: none; */
    display: none;
    visibility: hidden;
}

.menuButton span {
    width: 30px;
    height: 4px;
    background: #131313;
    border-radius: 100px;
    transition: 0.3s ease;
}

input[type]:checked~span.top {
    transform: translateY(290%)rotate(45deg);
    width: 40px;
}

input[type]:checked~span.bot {
    transform: translateY(-270%) rotate(-45deg);
    width: 40px;
    box-shadow: 0 0 10px #495057;
}

input[type]:checked~span.mid {
    transform: translateX(-20px);
    opacity: 0;
}



.janelas {
    width: 100%;
    height: 91.4vh;
    display: flex;
    align-items: center;
}

.janelas .janelas1 {
    width: 25rem;
    height: 91.3vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 1px #d1d1d1 solid;
}

.janelas .janelas1 .caixa {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #343333;
    border-bottom: 1px #d1d1d1 solid;
}

.janelas .janelas1 .caixa ion-icon {
    font-size: 2rem;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.janelas .janelas1 .caixa:hover {
    background-color: #a0a0a0;
    color: rgb(0, 0, 0);
    transition: 0.1s;
}

.on {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #343333;
    border-bottom: 1px #d1d1d1 solid;
    background-color: #979797;
}

.on ion-icon {
    font-size: 2rem;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.janelas .janelas2 {
    margin-top: 14rem;
    width: 100%;
    background-color: #fff;
    padding: 1rem 0 0 2rem;
}

.janelas2 .titulo {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.janelas2 .Ppart {
    margin-top: 1rem;
    width: 50rem;
}

#flex {
    display: flex;
}

.input-style {
    margin: 0 0.5rem 0.5rem 0.5rem;
    width: 18rem;
    height: 3.5rem;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
    text-decoration: none;
    background-color: white;
}

.input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form1 {
    margin-top: 3rem;
    display: flex;
}

.form1 div {
    margin-top: 0.3rem;
    padding: 0 2rem 0 0.5rem;
    display: flex;
}

.form1 ion-icon {
    font-size: 1.5rem;
    color: white;
}

.form1 h4 {
    font-size: 1.5rem;
}

.Ppart h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form1 button {
    width: 4rem;
    height: 3.5rem;
    background-color: #007bff;
    border-radius: 5px;
    border: 0px solid;
    cursor: pointer;
}

.abaexcluir {
    margin-top: 3rem;
    border: 1px black solid;
    padding: 1rem;
    border-radius: 1rem;
    width: 55%;
}

.abaexcluir h2 {
    margin-bottom: 2rem;
}

.abaexcluir button {
    margin-top: 2rem;
    background-color: rgb(255, 73, 73);
    width: 10rem;
    height: 3.5rem;
    border-radius: 10px;
    border: 0px solid;
    cursor: pointer;
    margin-left: 40rem;
}

.abaexcluir p {
    width: 50rem;
}

.conversas {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    height: 20rem;
}

.conversas ion-icon {
    font-size: 5rem;
    color: #ff9c40;
}

.conversas p {
    font-size: 2rem;
    color: #ffffff;
}

.erro {
    height: 20rem;
    background-color: #818181b6;
    border-style: dashed;
    margin: 20px;
}

/* From Uiverse.io by abdinejad */ 
.card-container,
.card-box,
.card-head,
.card-number-row,
.card-details,
.card-holder-col,
.card-date-col {
  display: flex;
}
.card-container {
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.card-box {
  width: 340px;
  min-height: 160px;
  background: #fff;
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  margin: 16px;
  padding: 1.5em;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.2em;
}
.card-head {
  justify-content: space-between;
  align-items: center;
}
.card-chip svg {
  width: 32px;
  height: 32px;
}
.card-chip svg path {
  fill: #636363;
}
.card-logo svg {
  width: 48px;
  height: 48px;
}
.card-number-row {
  justify-content: center;
  word-spacing: 1em;
  font-size: 1.3em;
  font-weight: 600;
}
.card-box:hover .card-number-row {
  font-size: 1.32em;
}
.card-details {
  justify-content: space-between;
  text-transform: uppercase;
}
.card-holder-col {
  flex-direction: column;
  gap: 2px;
}
.card-holder-title,
.card-date-title {
  color: #bdbdbd;
  font-size: 0.7em;
}
.card-holder-name {
  font-size: 1.1em;
  font-weight: 600;
}
.card-date-col {
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}
.janelas2 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 3rem;
    background-color: #8cbdfd;
    border-radius: 15px;
    color: white;
}
