* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier Gothic', sans-serif;
    text-decoration: none;
}

body {
    background-color: #f2f5f7;
    height: 100vh;
}
/* logo */

.menu-nav {
    position: relative;
    top: 1px;
    width: 100%;
    height: 80px;
    background-color: #1b7bbba4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 50px 50px rgba(0, 0, 0 .1);
    margin-top: -1px;
}


.menu-nav .perfil {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

.menu-nav .perfil h3 {
    text-align: end;
    font-weight: 300;
    line-height: 1rem;
    color: #555;
    font-size: 1.5rem;
}

.menu-nav .perfil h3 samp {
    font-size: .75rem;
    color: #777;
}

.menu-nav .perfil .imgcx {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.menu-nav .perfil .imgcx img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.menu-nav .menu {
    position: absolute;
    top: calc(100% + 10px);
    left: -10rem;
    width: 15rem;
    min-height: 100px;
    background-color: white;
    box-shadow: -1px 0px 20px 3px rgba(0, 0, 0, 1);
    user-select: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.menu-nav .menu.ativo {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    width: 17rem;
    height: 26rem;
    left: 10px;
    padding: 0.5rem;
    border-radius: 15px;
}

.menu-nav .menu ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    list-style: none;
}

.menu-nav .menu ul li {
    width: 90%;
    background-color: #f1f1f1;
    padding: 15px 20px;
    transition: .30s;
    margin-top: 1rem;
    border-radius: 15px;
}

.menu-nav .menu ul li:hover {
    transition: 0.5s;
    border: black solid 0.1px;
    background: #adc0ff;
}

.menu-nav .menu ul li a {
    text-decoration: none;
    color: #666;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-nav .menu ul li a ion-icon {
    font-size: 1.25rem;
    color: #000000;
}

.menuextra {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.menu-nav .menu .menuextra .menuextrali {
    width: 12rem;
    background-color: #f1f1f1;
    padding: 15px 20px;
    transition: .30s;
    margin-top: 1rem;
    border-radius: 15px;
    font-size: 0.8rem;
}

.menu-nav .menu .menuextra .menuextrali:hover {
    background-color: #fd8c8c;
    transition: 0.7s;
}

.menu-nav .menu .menuextra .menuextrali2 {
    width: 12rem;
    background-color: #f1f1f1;
    padding: 15px 20px;
    transition: .30s;
    margin-top: 1rem;
    border-radius: 15px;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
.menu-nav .menu .menuextra .menuextrali2:hover {
    background-color: #8cbdfd;
    transition: 0.7s;
}


.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13%;
    color: #090909;
    width: 3.5em;
    height: 3.5em;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

.menuButton:hover {
    border: 1px solid white;
}

.menuButton:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
}

input[type="checkbox"] {
    /* -webkit-appearance: none; */
    display: none;
    visibility: hidden;
}

.menuButton span {
    width: 30px;
    height: 4px;
    background: #131313;
    border-radius: 100px;
    transition: 0.3s ease;
}

input[type]:checked~span.top {
    transform: translateY(290%)rotate(45deg);
    width: 40px;
}

input[type]:checked~span.bot {
    transform: translateY(-270%) rotate(-45deg);
    width: 40px;
    box-shadow: 0 0 10px #495057;
}

input[type]:checked~span.mid {
    transform: translateX(-20px);
    opacity: 0;
}

/* Carrosel de imagem */
.slider {
    margin: 3rem auto;
    width: 80rem;
    height: 40rem;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 40rem;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 80rem;
}

.manual-navigation {
    position: absolute;
    width: 80rem;
    margin-top: -38rem;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.20s;
    margin-top: 36rem;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 80rem;
    margin-top: 38rem;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #fff;
}

.abacusos {
    padding: 2%;
    width: 100%;
    height: 22rem;
}

.abacusos .nome h2 {
    background-color: #999;
    width: 5.5%;
    padding: 0.5%;
    border-radius: 15px;
}

.cusos {
    display: flex;
    justify-content: space-evenly;
}

.abacusos .cusos {
    width: 100%;
    height: 80%;
    padding: 1%;
}
.elemento{
    display: flex;
}
.abacusos .cusos .elemento {
    width: 20rem;
    height: 12rem;
    border-radius: 15px;
    background-color: rgb(102, 102, 102);
    overflow: hidden;
}

.abacusos .cusos .elemento img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fotoaba{
    position: absolute;
    width: 5rem;
    height: 3rem;
    background-color: #666;
    border-radius: 15px 0 15px 0;
    display: flex;
    justify-content: center;
}
.abacusos .cusos .elemento .fotoaba .ing{
    width: 50%;
    height: 100%;
    object-fit: cover;
}