<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Banido</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../CSS/Bam.css'>
    <script src='main.js'></script>

    <link rel="shortcut icon" href="../imagem/Logo-aprendix.png" type="image/ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=SUSE:wght@100..800&display=swap" rel="stylesheet">
    
</head>
<body>
  
    <div class="img_bam">
        <div class="elementos">
            <h1>Aviso de Banimento</h1>
            <li>Por ferir diretrizes do site Aprendix sua conta está sendo banida</li>

        </div>
        <img src="../imagem/Aprendix_ban.png" alt="">
    </div>
    
</body>
</html>