<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Configurações</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="author" content="Anthony/MariaEduarda - Aprendix">
    <link rel='stylesheet' type='text/css' media='screen' href='../CSS/config.css'>
    <link rel="shortcut icon" href="../imagem/Logo-aprendix.png" type="image/ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=SUSE:wght@100..800&display=swap"
        rel="stylesheet">

</head>

<body>

    <nav class="menu-nav">

        <div class="menutoggle" id="menutoggle">
            <label for="check" class="menuButton">
                <input id="check" type="checkbox">
                <span class="top"></span>
                <span class="mid"></span>
                <span class="bot"></span>
            </label>
        </div>


        <div class="perfil">
            <h3>Usuario <br><samp>aaaaa</samp></h3>
            <div class="imgcx">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9Etrj7SYknitFM3_TL7O2S1YoU7yswbXBLQ&s"
                    alt="...">
            </div>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="">
                        <ion-icon name="file-tray-outline"></ion-icon>
                        Biblioteca
                    </a>
                </li>
                <li>
                    <a href="./config.html">
                        <ion-icon name="settings-outline"></ion-icon>
                        Comfiguração
                    </a>
                </li>

                <li>
                    <a href="./Chat.html">
                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                        Chat
                    </a>
                </li>

                <li>
                    <a href="./carrinho.html">
                        <ion-icon name="bag-outline"></ion-icon> Carrinho
                    </a>
                </li>

                <div class="menuextra">

                    <li class="menuextrali">
                        <a href="../PHP/sair.php">
                            <ion-icon name="log-out-outline"></ion-icon> Deslogar
                        </a>
                    </li>

                    <li class="menuextrali2">
                        <a href="./home.php">
                            <ion-icon name="home-outline"></ion-icon> Home
                        </a>
                    </li>

                </div>

            </ul>
        </div>
    </nav>

    <div class="janelas">

        <div class="janelas1">

            <a href="" class="on">
                <ion-icon name="person-outline"></ion-icon>
                Usuario
            </a>

            <a href="" class="caixa">
                <ion-icon name="wallet-outline"></ion-icon>
                Pagamento
            </a>

            <a href="" class="caixa">
                <ion-icon name="eye-off-outline"></ion-icon>
                Senha e Seguranção
            </a>

            <a href="" class="caixa">
                <ion-icon name="git-compare-outline"></ion-icon>
                Conexão
            </a>

            <a href="" class="caixa">
                <ion-icon name="file-tray-full-outline"></ion-icon>
                Historico
            </a>

        </div>
        <div class="janelas2">

            <h2 class="titulo">Configurações da conta</h2>
            <li>Gerencie os detalhes de sua conta.</li>

            <div class="Ppart">
                <h3>Informações da conta</h3>
                <br>
                <h2>ID: 021dfd90ccd141cca1aeda76a344b130</h3>

                    <div class="form1">

                        <form method="POST" action="../imagem/404error.gif">
                            <h4>Nome de exibição</h4>
                            <div>
                                <input type="text" name="username" class="input-style" id="">
                                <button type="submit"><ion-icon name="create-outline"></ion-icon></button>
                            </div>
                        </form>

                        <form method="POST" action="../imagem/404error.gif">
                            <h4>Endereço de E-mail</h4>
                            <div>
                                <input type="email" name="username" class="input-style" id="">
                                <button type="submit"><ion-icon name="create-outline"></ion-icon></button>
                            </div>
                        </form>

                    </div>
            </div>


        </div>

    </div>

</body>

<script src='../Javascript/home/main.js'></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>